<fa-app style="height: 568px; width: 320px; margin: 0;">
  <fa-modifier fa-size="[1800, 3000]" fa-translate="[-250, -450, -600]">
    <fa-surface fa-background-color="'#073642'"></fa-surface>
  </fa-modifier>
  <fa-modifier fa-size="[200, 100]" fa-origin="[.5, .5]" fa-rotate="getRotate()" fa-transform-order="['translate', 'rotate']" fa-opacity=".25">
    <fa-modifier fa-translate="[0, -150, 25]" fa-rotate="getRotate()">
      <fa-cuboid fa-dimensions="[100, 100, 100]"></fa-cuboid>
    </fa-modifier>
  </fa-modifier>
</fa-app>