<fa-app style="width: 320px; height: 568px;">
  <!-- outer scroll view that scrolls horizontally between "main" view and "sidebar" view-->
  <fa-scroll-view fa-pipe-from="eventHandler" fa-options="options.scrollViewOuter">

    <!-- sidebar view -->
    <fa-view fa-index="0">
      <fa-modifier fa-size="[100, undefined]" id="sideBarMod">
          <fa-surface fa-pipe-to="eventHandler"
                      fa-background-color="'blue'"
                      fa-size="[undefined, undefined]">
          </fa-surface>
        </fa-modifier>
    </fa-view>

    <!-- main view -->
    <fa-view fa-index="1">
    <!-- inner scroll view that scrolls vertically-->
      <fa-scroll-view fa-pipe-from="eventHandler" fa-options="options.scrollViewInner">
        <fa-view ng-repeat="item in list">
          <fa-surface fa-pipe-to="eventHandler"
                      fa-size="[undefined, undefined]"
                      fa-background-color="'red'">
          </fa-surface>
        </fa-view>
      </fa-scroll-view>
    </fa-view>

  </fa-scroll-view>
</fa-app>