<style>
  .class1{
    background-color: darkturquoise !important; 
  }

  .class2{
    color: blanchedalmond !important; 
  }

  .class3{
    color: lightsalmon;
    padding: 20px;
  }
  .class4{
    background-color: sienna; 
    font-weight: bold;
    font-family: sans-serif;
  }
</style>

<fa-app style="width: 320px; height: 568px;">
  <fa-surface id="ng-class-surface" class="class3 class4" ng-class="{class1: classed(2), class2: classed(1)}" fa-click="shift()">ngClass (click to shift)
  </fa-surface>
</fa-app>
