  <fa-app style="width: 320px; height: 568px;" fa-perspective="{{modPerspective()}}">
    <fa-modifier fa-size="[undefined, 200]" fa-perspective="perspective" fa-origin="[.5, .5]" fa-rotate="getRotate()" fa-translate="[0,200,100]">
      <fa-surface fa-background-color="'blanchedalmond'"></fa-surface>
      <fa-modifier perspective="perspective" fa-rotate-y="3.14159265" fa-origin="[.5, .5]">
        <fa-surface fa-background-color="'red'"></fa-surface>
      </fa-modifier>
    </fa-modifier>
  </fa-app>
