<ul style="padding: 0px; margin: 0px; list-style:none; background: #ffffff;">
    <li style="border-bottom: 1px solid #cccccc; font-size:30px; line-height: 60px; height: 58px;">
        <i style="font-weight: bold; border-right: 1px solid #cccccc; display: inline-block; padding: 0px 20px; margin-right: 10px;">1</i>Index Box 1
    </li>
    <li style="border-bottom: 1px solid #cccccc; font-size:30px; line-height: 60px; height: 58px;">
        <i style="font-weight: bold; border-right: 1px solid #cccccc; display: inline-block; padding: 0px 20px; margin-right: 10px;">2</i>Index Box 2
    </li>
    <li style="border-bottom: 1px solid #cccccc; font-size:30px; line-height: 60px; height: 58px;">
        <i style="font-weight: bold; border-right: 1px solid #cccccc; display: inline-block; padding: 0px 20px; margin-right: 10px;">3</i>Index Box 3
    </li>
</ul>