<ul style="padding: 0px; margin: 0px; list-style:none; background: #ffffff;">
    <li style="border-bottom: 1px solid #cccccc; font-size:30px; line-height: 60px; height: 58px;">
       <img src="images/bird.png" style="height:58px; margin:0px 5px; display:inline-block" /><span>List Box 1</span>
    </li>
    <li style="border-bottom: 1px solid #cccccc; font-size:30px; line-height: 60px; height: 58px;">
        <img src="images/infinity.jpg" style="height:58px; margin:0px 5px; display:inline-block" /><span>List Box 2</span>
    </li>
    <li style="border-bottom: 1px solid #cccccc; font-size:30px; line-height: 60px; height: 58px;">
        <img src="images/cheat.png" style="height:58px; margin:0px 5px; display:inline-block" /><span>List Box 3</span>
    </li>
</ul>