<div style="width:98px; float:left; margin:10px 10px 10px 0px; height:158px; background:rgba(255,255,255,0.7); border:1px solid rgba(255,255,255,1); text-align:center; font-size:30px;">
	Narrow Card 1
</div>
<div style="width:98px; float:left; margin:10px 10px 10px 0px; height:158px; background:rgba(255,255,255,0.7); border:1px solid rgba(255,255,255,1); text-align:center; font-size:30px; ">
	Narrow Card 2
</div>
<div style="width:98px; float:left; height:158px; margin:10px 0px 10px 0px; clear:right; background:rgba(255,255,255,0.7); border:1px solid rgba(255,255,255,1); text-align:center; font-size:30px; ">
	Narrow Card 3
</div>